<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/main.css">
</head>
<body>

  <div class="sidenav">
    <a href="http://localhost:8080/">Home</a>
      <a href="http://localhost:8080/tasks">Task Tracking</a>
      <a href="http://localhost:8080/to-do">To Do List</a>
      <a href="http://localhost:8080/journal">Journal</a>
      <a href="http://localhost:8080/chill">Take a Chill Pill!</a>
      <a href="http://localhost:8080/ChatBot">Bud</a>
    </div>

<div class="main">
  <center><h2>Good Day!</h2>
  <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX3rxVfibe1L0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <br>
  <h2>Your daily dose of Motivation Right here! ;)</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/UZb2NOHPA2A?start=64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </center>
</div>
</body>
</html> 
  